body {
  background-color: #f1e0e4;
  text-align: center;
  font-family: "Verdana", Sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

ul {
  width: 70%;
  margin: auto;
}

ol {
  width: 50%;
  margin: auto;
  padding-right: 30px;
}
